# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build
dist
build

# Env
.env
.env.local
.env.*.local

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# Debug / logs
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
next-env.d.ts
